{% extends "procesos/plantilla_procesos.html" %}

{% block title %} RISKO | {{ proyecto.proyecto_nombre }} {% endblock %}

{% load static %}

{% block organigrama_up %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}

<div class="content-wrapper">
  <div class="container">
    <section class="content-header"  style="margin-top: 70px;">
      <h1>
        {% if proyecto %}
        {{ proyecto.proyecto_nombre }}
        {% endif %}
        <small>Planificar Respuestas</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-folder-open"></i> Proyecto</a></li>
        <li class="active">Planificar Respuestas</li>
      </ol>
      {% if mensaje %}
      <div class="callout callout-info">
        <h4>Registro Exitoso</h4>
        {{mensaje}}      
      </div>
      {% endif %}
      {% if mensaje_eliminar %}
      <div class="callout callout-danger">
        <h4>Borrado Exitoso</h4>
          {{mensaje_eliminar}}      
      </div>
      {% endif %}
      {% if mensaje_editar %}
      <div class="callout callout-warning">
        <h4>Actualización Exitosa</h4>
        {{mensaje_editar}}      
      </div>
      {% endif %}
    </section>
    {% if proyecto.proyecto_linea_base != 0 %}  
    <section class="content">
        <div class="box">
            <div class="box-group" id="accordion">
              <div class="panel box box-primary">
                <div class="box-header with-border">
                  	<h4 class="box-title">
                    	<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" style="color:#444444";>
                      		<label data-toggle="tooltip" data-placement="top" title="Presione aqui para ver mas información del proceso y generar su informe."><strong>Controlar riesgos proyecto: {{ proyecto.proyecto_nombre }}  
                      			<i class="fa fa-sort-desc"></i>
                      		</strong></label>
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse in">
                  <div class="box-body">
                    Este proceso tiene por objetivo implementar los planes de respuesta a los riesgos y oportunidades del proyecto si estos se presentan, y así mismo monitorearlos constantemente junto con los riesgos y oportunidades inactivos, con la finalidad de identificar si se presentan nuevos riesgos a lo largo del proyecto. 
                    </br>
                    <a class="btn btn-primary pull-right" href="/mi_proyecto/{{ proyecto.proyecto_id }}/controlar_riesgos/informe/">Generar informe</a>
                  </div>
                </div>
              </div>
           </div>
         </div>
          <div class="box">
             <div class="box-header">
              <h3 class="box-title">
                <strong>Cronograma de la gestion de riesgos - Proyecto: {{ proyecto.proyecto_nombre }}</strong> 
              </h3>         
              {% if proyecto.proyecto_fin_status %}
              <button class="btn btn-primary pull-right" onclick="confirmar_cambios();" disabled="true">Confirmar cambios</button>
              {% else %}
              <button id="confirmar" class="btn btn-primary pull-right" onclick="confirmar_cambios();" disabled="true">Confirmar cambios</button>
              {% endif %}  

            </div>
            <div class="box-body">
              <!--<button onclick="obtener_mi_json()">obtener json</button>-->
              <ul class="chart-legend clearfix">                
                <span class="label pull-left" style="background-color:#E75A10; ">Proyecto</span>       
                <span class="label pull-left" style="background-color:#65B225;">Riesgos</span>
                <span class="label pull-left"style="background-color:#2585B2;">Acciones</span>
              </ul>
              <br>
              <div id="conttree">
                <svg id="icon_cargando" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: rgb(255, 255, 255); display: block; shape-rendering: auto;" width="224px" height="224px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                  <path d="M33 50A17 17 0 0 0 67 50A17 18.9 0 0 1 33 50" fill="#22b3e4" stroke="none">
                    <animateTransform attributeName="transform" type="rotate" dur="0.5464480874316939s" repeatCount="indefinite" keyTimes="0;1" values="0 50 50.95;360 50 50.95"></animateTransform>
                  </path>
                  <!-- [ldio] generated by https://loading.io/ -->
                </svg> 
              </div>
          </div>
    </section>
    {% else %}
    <section class="content">
        <div class="box box-primary">
        <div class="box-header with-border">
        <h4 class="box-title">
        <label data-toggle="tooltip" data-placement="top" title="En esta sección podrá administrar los riesgos del proyecto."><strong>Controlar riesgos</strong></label>
        </h4>
        </div>
        <div class="box-body">
          <div class="alert alert-info alert-dismissible">                
                <h4><i class="icon fa fa-info"></i>  Atencion !</h4>
                Antes de poder monitorear e implementar los planes de respuesta a los riesgos, usted debe contar con un linea base de la gestion de riesgos.<br/><br/>
                Para crear una nueva linea base a su proyecto, por favor vaya la seccion <strong>Linea Base de la Adiministración de Riesgos</strong> de la siguiente pagina: clic <a href="/mi_proyecto/{{proyecto.proyecto_id}}/planificar_respuestas/">aquí.</a>


              </div>
        </div>    
      </div>
    </section>
    {% endif %}
  </div>
</div>
{% endblock %}
{% block organigrama_down %}

<script src="{% static 'risk_project/plugins/sweetalert/sweetalert.js' %}"></script>
<script type="text/javascript">
  
  
  {% if proyecto.proyecto_linea_base != 0 %}  
  $(document).ready(function () {
    var $loadingGif = $("#icon_cargando");
    $loadingGif.show();
    $('#conttree').load('/mi_proyecto/{{proyecto.proyecto_id}}/controlar_riesgos/tree_grid/',function(){
        $loadingGif.hide();
        document.getElementById('confirmar').disabled = false;
      });
  });
  {% endif %}
 
  function confirmar_cambios() {
    let datos = get_data_json()[0];
    let parse = quitar_campo_data(datos);
    console.log(parse);
    $.ajax({
      url: "/mi_proyecto/{{proyecto.proyecto_id}}/actualizar_gantt/",
      type: 'POST',
      headers: {'X-CSRFToken': csrftoken},
      data: {'gantt':JSON.stringify(parse)},      
      success: function(data) {
        Swal.fire(
        '¡ Registro exitoso !',
        'Las tareas se han actualizado',
        'success'
        ).then(function () {
          location.reload();
        });           
      }, error: function (jqXhr, textStatus, errorMessage) {
        console.log("Fallo Registro " + textStatus + errorMessage);
        Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: '¡ No se pudo actualizar las tareas !',             
        }).then(function () {
          location.reload();
        });   
      }
  });
}
  
function quitar_campo_data(datos){  
  let cap = 'data';
  delete datos[cap];
  let riesgos = datos.children;
  for (let i = 0; i < riesgos.length; i++) {
    let actividades = riesgos[i].children;
    for (var j = 0; j < actividades.length; j++) {
      let tareas = actividades[j].children;
      for (var k = 0; k < tareas.length; k++) {
        tareas[k]['start_date_real'] = parsear_fecha( tareas[k]['start_date_real']);
        tareas[k]['end_date_real'] = parsear_fecha( tareas[k]['end_date_real']);
        delete tareas[k][cap];
        delete tareas[k]['parent'];
        delete tareas[k]['records'];
      }
      delete actividades[j][cap];
      delete actividades[j]['parent'];
      delete actividades[j]['records'];
    }
    delete riesgos[i][cap];
    delete riesgos[i]['parent'];
    delete riesgos[i]['records'];
  }
  return datos;
}

function getCookie(name) {
  let cookieValue = null;
  if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
          }
      }
  }
  return cookieValue;
}
const csrftoken = getCookie('csrftoken');

function parsear_fecha(now){    
 return moment(now).format('YYYY-MM-DD');
}

</script>
{% endblock %}