<div class="box-header">
        <h3 class="box-title">Construir Estructura Desglosada de Riesgos
        </h3>
        <!-- tools box -->
        <div class="pull-right box-tools">
          <button type="button" class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip"
          title="Collapse">
          <i class="fa fa-minus"></i></button>
          <button type="button" class="btn btn-default btn-sm" data-widget="remove" data-toggle="tooltip"
          title="Remove">
          <i class="fa fa-times"></i></button>
        </div>
        <!-- /. tools -->
      </div>
      <!-- /.box-header -->
      <div class="box-body pad">
       <div class="row">
        <div class="col-md-3">
          <div class="box box-default direct-chat direct-chat-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Categoría</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <!-- /.box-body -->
              <form action="#" method="post">
                <div class="input-group">
                  <select class="form-control select2" id="categoria_id_form_sub_catg" name="categoria_id" style="width: 100%;">
                  </select>
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary btn-flat">Agregar</button>
                  </span>
                </div>
              </form>
              <br>
              <form action="#" method="post">
                <div class="input-group">
                  <select class="form-control select2" id="categoria_id_form_sub_catg" name="categoria_id" style="width: 100%;">
                  </select>
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-danger btn-flat">Eliminar</button>
                  </span>
                </div>
              </form>
            </div>
            <div class="box-footer">
            </div>
            <!-- /.box-footer-->
          </div>
          <!-- /. box -->

          <div class="box box-default direct-chat direct-chat-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Subcategoría</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <!-- /.box-body -->
              <form action="#" method="post">
               <select class="form-control select2" id="categoria_id_form_sub_catg" name="categoria_id" style="width: 100%;">
                <option disabled selected>Selecciona una Categoría</option>
              </select>
              <br>
              <div class="input-group">
                <select class="form-control select2" id="categoria_id_form_sub_catg" name="categoria_id" style="width: 100%;">
                </select>
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-primary btn-flat">Agregar</button>
                </span>
              </div>
            </form>
            <br>
            <form action="#" method="post">
              <div class="input-group">
                <select class="form-control select2" id="categoria_id_form_sub_catg" name="categoria_id" style="width: 100%;">
                </select>
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-danger btn-flat">Eliminar</button>
                </span>
              </div>
            </form>
          </div>
          <div class="box-footer">
          </div>
          <!-- /.box-footer-->
        </div>
      </div>
      <!-- /.col -->
      <div class="col-md-9">
        <div class="box box-default">
          <div class="box-body no-padding">


            <div id="chart-container"></div>


          </div>
          <!-- /.box-body -->
        </div>
        <!-- /. box -->
      </div>
      <!-- /.col -->
        </div>
      </div>