{% extends "plantilla.html" %}

{% block title %} RISKO | Mis Respuestas {% endblock %}



{% block content %}


<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Histórico de acciones
      <small>Panel de Control</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
      <li class="active">Histórico de acciones</li>
    </ol>
    {% if mensaje_eliminar %}
    <div class="callout callout-danger">
      <h4>Borrado Exitoso</h4>
      {{mensaje_eliminar}}      
    </div>
    {% endif %}

    {% if mensaje_editar %}
    <div class="callout callout-warning">
      <h4>Actualización Exitosa</h4>
      {{mensaje_editar}}      
    </div>
    {% endif %}

  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">

      <!-- /.Tabla -->
      <div class="col-md-12">
        <div class="box box-primary">

          <div class="box-header with-border">
            <h3 class="box-title">Acciones</h3>
          </div>

          <!-- /.box-header -->
          <div class="box-body">
               <table id="example1" class="table table-bordered table-striped">
                <thead>
                  <tr>  
                    <th></th>                  
                    <th>Nombre<i class="fa fa-long-arrow-down"><i class="fa fa-long-arrow-up"></th>
                    <th>Descripción <i class="fa fa-long-arrow-down"><i class="fa fa-long-arrow-up"></th>
                    <th>Riesgo <i class="fa fa-long-arrow-down"><i class="fa fa-long-arrow-up"></th> 
                    <th>Opciones </th>                                       
                  </tr>
                </thead>
                <tbody>
                 {% if lista_riesgos_respuesta %}
                 {% for respuesta in lista_riesgos_respuesta %}
                 <tr> 
                  <td></td>                 
                  <td>{{ respuesta.respuesta.respuesta_nombre }}</td>
                  <td>{{ respuesta.respuesta.respuesta_descripcion }}</td>
                  <td>{{ respuesta.riesgo.riesgo_nombre }}</td>
                                  
                  <td>
                    <button type="button" class="btn btn-default" data-toggle="#modal-editar" onclick="abrir_modal_editar('{{ respuesta.respuesta.respuesta_nombre }}', '{{ respuesta.respuesta.respuesta_id }}', '{{ respuesta.respuesta.respuesta_descripcion }}' )" data-target="#modal-editar"><i   class="fa fa-edit"></i>
                    </button>


                    <button type="button" class="btn btn-danger" data-toggle="#modal_eliminar" onclick="abrir_modal_eliminar('{{ respuesta.respuesta.respuesta_nombre }}', '{{ respuesta.respuesta.respuesta_id }}', '{{ respuesta.riesgo.riesgo_id }}')" data-target="#modal_eliminar"><i class="fa fa-trash-o danger"></i>
                    </button>
                    &nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                  </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td></td>
                  <td>No cuentas con respuestas registradas.</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                {% endif %} 
              </tbody>
              <tfoot>
                <tr>      
                  <th></th>           
                  <th>Nombre</th>
                  <th>Descripción</th> 
                  <th>Riesgo Asociado</th>
                  <th>Opciones</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.box-body -->

        </div>
      </div>
      <!-- /. box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>

<!-- /.modal-editar -->

 <div class="modal fade" id="modal-editar">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Editar Respuesta</h4>
          </div>
          <div class="box-body">
           <form  action="/editar_respuesta/" method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                <label >Nombre </label>
                <input type="text" class="form-control" maxlength="44" id="respuesta_nombre_ed" name="respuesta_nombre">
                </div>
                <input type="text" class="form-control" id="respuesta_id" name="respuesta_id" style="visibility:hidden">               
              </div>
              <!-- /.col -->
              <div class="col-md-6">             
                <div class="form-group">
                  <label>Descripción</label>
                  <textarea class="form-control" rows="3" maxlength="3000" id="respuesta_descripcion" name="respuesta_descripcion"></textarea>
                </div>
                
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-primary pull-right">Actualizar</button>
            </div>
            <!-- /.row -->
          </form>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

  <!-- /.modal-eliminar -->

  <div class="modal modal-danger fade" id="modal_eliminar" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"> Eliminar </h4>
          </div>
          <form  action="/eliminar_respuesta/" method="post">
            {% csrf_token %}
          <div class="modal-body">
            <input type="text" class="form-control" id="respuesta_id_e" name="respuesta_id_e" style="visibility:hidden">
            <p id="contenido_modal">&hellip;</p>
            <h2 id="respuesta"></h2>           
            <input type="text" class="form-control" id="riesgo_id_e" name="riesgo_id_e" style="visibility:hidden">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-outline">Eliminar</button>
          </div>
          </form>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>





</div>

{% endblock %}

{% block mis_scrtips_riesgos %}
{% load static %}
<!-- DataTables -->
<script src="{% static 'risk_project/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>


<script src="{% static 'risk_project/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>




<!-- AdminLTE for demo purposes -->
<script src="{% static 'risk_project/dist/js/demo.js' %}"></script>

  <script>
  function trasnformar_tabla(id_tabla) {
  t = $("#"+id_tabla).DataTable({    
     "language": {
         "sProcessing":    "Procesando...",
         "sLengthMenu":    "Mostrar _MENU_ registros",
         "sZeroRecords":   "No se encontraron resultados",
         "sEmptyTable":    "No cuentas con riesgos asociados a esta subcategoría.",
         "sInfo":          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
         "sInfoEmpty":     "Mostrando registros del 0 al 0 de un total de 0 registros",
         "sInfoFiltered":  "(filtrado de un total de _MAX_ registros)",
         "sInfoPostFix":   "",
         "sSearch":        "Buscar:",
         "sUrl":           "",
         "sInfoThousands":  ",",
         "sLoadingRecords": "Cargando...",
         "oPaginate": {
             "sFirst":    "Primero",
             "sLast":    "Último",
             "sNext":    "Siguiente",
             "sPrevious": "Anterior"
         },
         "oAria": {
             "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
             "sSortDescending": ": Activar para ordenar la columna de manera descendente"
         }
     }
    }); 
  t.on( 'order.dt search.dt', function () {
          t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
              cell.innerHTML = i+1;
          } );
      } ).draw();
}
 
 $(function() {
   trasnformar_tabla("example1");    
 })
</script>

 <script>
function abrir_modal_eliminar(nombre, id_re, id_ri) {

        

        $("#modal_eliminar").modal('show');
        document.getElementById("contenido_modal").innerHTML = "Estas seguro que desea eliminar la respuesta, esta podria estar asociado a un proyecto o riesgo.";
        document.getElementById("respuesta").innerHTML = " "+nombre;
        var input_id = document.getElementById("respuesta_id_e");
        var input_r_id = document.getElementById("riesgo_id_e");
        input_id.value = id_re;
        input_r_id.value = id_ri;
        return false;
    };

function abrir_modal_editar(nombre, id, aux) {
            
        $("#modal-editar").modal('show');
        
        document.getElementById("respuesta_nombre_ed").value=nombre;
        document.getElementById("respuesta_id").value=id;
        document.getElementById("respuesta_descripcion").innerHTML = " "+ aux; 
        
    };


</script>



{% endblock %}
