{% extends "plantilla.html" %}

{% block title %} RISKO | Registrar Riesgo  {% endblock %}

{% block content %}




<div class="content-wrapper">


  <!-- Content Header (Page header) -->
  <section class="content-header">

    <h1>
      Riesgos
      <small>Nuevo Riesgo</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Riesgo</a></li>
      <li class="active">Nuevo Riesgo</li>
    </ol>

    {% if mensaje %}
    <div class="callout callout-info">
      <h4>Registro Exitoso</h4>
      {{mensaje}}      
    </div>
    {% endif %}
  </section>



  <section class="content">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Registrar Riesgo</h3>        
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <form action="{% url 'nuevoriesgo' %}" method="post">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="form-group">
                  <label >Nombre Riesgo</label>
                  <input type="text" class="form-control" maxlength="44" id="nombre" placeholder="Ingrese Nombre del riesgo" name="riesgo_nombre" required>
                </div>                 
                <div class="form-group">
                  <label>Subcategoría a la que pertence</label>
                  <select class="form-control select2" id="sub_categoria_id" name="sub_categoria_id" required>              
                  </select>                                
                </div>              
                <div class="form-group">
                  <label>Causa</label>
                  <textarea class="form-control" rows="5"  maxlength="3000" placeholder="Descripción de la causa..." name="riesgo_causa" required></textarea>
                </div>                
              </div>
            </div>
            <!-- /.col -->
            <div class="col-md-6">
              <div class="form-group">
                <label>Tipo</label>
                <select class="form-control select2" style="width: 100%;" name="riesgo_tipo">
                  <option selected="selected" value="0">Riesgo</option>
                  <option value="1">Oportunidad</option>

                </select>
              </div>           
              <div class="form-group">
                <label>Efecto</label>
                <textarea class="form-control" rows="3" maxlength="3000" placeholder="Descripción del efecto..." name="riesgo_efecto" required></textarea>
              </div>
              <div class="form-group">
                  <label>Evento</label>
                  <textarea class="form-control" rows="3" maxlength="3000" placeholder="Descripción del evento..." name="riesgo_evento" required></textarea>
                </div>
              <div class="box-footer">
                
                <button type="submit" class="btn btn-primary pull-right">Registrar</button>
              </div>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </form>
      </div>
    </div>



  </section>
  <!-- /.box -->
</div>
{% endblock %}
{% block mis_scrtips_riesgos %}
{% load static %}

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

<script >
     $("#sub_categoria_id").select2();
</script>

<script >
  //$("#sub_categoria_id").select2();
    //////////////////////////////////////////
  // Variables globales
  /////////////////////////////////////////

  var data = JSON.parse("{{rbs|escapejs}}");   

  var diccionario = {};


function formatear_data(){  
  data.forEach(function(element){
    diccionario[element["categoria"]["categoria_id"]] = element["subcategorias"];
  });
}

function cargarCategorias() {   
    addOptions("sub_categoria_id", data);
}


//Función para agregar opciones a un <select>.
function addOptions(domElement, mi_array) {
    var selector = document.getElementsByName(domElement)[0];
    selector.innerHTML = '<option value="">Seleccione una Categoria...</option>'
    for (var i = 0; i < mi_array.length; i++) {
        var optgroup = document.createElement("optgroup");
        optgroup.setAttribute("label", mi_array[i]["categoria"]["categoria_nombre"]);
        for (var j = 0; j < mi_array[i]["subcategorias"].length; j++) {
          var opcion = document.createElement("option");
          opcion.text = mi_array[i]["subcategorias"][j]["subcategoria"]["sub_categoria_nombre"];        
          opcion.value = mi_array[i]["subcategorias"][j]["subcategoria"]["sub_categoria_id"];
          optgroup.appendChild(opcion);
        }                 
        selector.add(optgroup);
    }
}
cargarCategorias();
</script>

{% endblock %}
