{% extends "plantilla.html" %}

{% block title %} Proyectos {% endblock %} 

{% block name1 %}Camilo Galvis{% endblock %}

{% block name2 %}Camilo Galvis{% endblock %}

{% block name3 %}Camilo Galvis{% endblock %}

{% block content %} 


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Respuestas
        <small>Panel de Control</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Respuestas</li>
      </ol>
    </section>

    

     <!-- Termina sección Tarjetas -->

  </div>


{% endblock %} 